<!DOCTYPE html>
<html lang="en">
  <!--  
    Made by Joost van Someren
    Contact me at: joost.v.someren@gmail.com
    https://joostvansomeren.nl 
  -->
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>localhost // indxr</title>

    <meta name="title" content="localhost // indxr">
    <meta name="author" content="Joost van Someren">

    <meta name="theme-color" content="#7957d5">
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
